on init
    # Create Power HAL tunables
    mkdir /dev/voxpopuli 0555 system system

on post-fs
    mount none /sbin/chargeonlymode /sbin/charger bind
    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio/audio_policy_configuration.xml bind
    mount none /system/lib64/hw/power.qcom.so /vendor/lib64/hw/power.qcom.so bind
    mount none /system/lib/hw/power.qcom.so /vendor/lib/hw/power.qcom.so bind
    mount none /system/lib64/soundfx/libvolumelistener.so /vendor/lib64/soundfx/libvolumelistener.so bind
    mount none /system/lib/soundfx/libvolumelistener.so /vendor/lib/soundfx/libvolumelistener.so bind

on boot
    # DT2W
    chown system system /proc/touchpanel/wake_gesture
    chmod 0660 /proc/touchpanel/wake_gesture

on boot
    # Set Power HAL tunables
    write /dev/voxpopuli/fling_min_boost_duration   200
    write /dev/voxpopuli/fling_max_boost_duration   2500
    write /dev/voxpopuli/fling_boost_topapp         10
    write /dev/voxpopuli/fling_min_freq_big         1113
    write /dev/voxpopuli/fling_min_freq_little      1113
    write /dev/voxpopuli/touch_boost_duration       200
    write /dev/voxpopuli/touch_boost_topapp         5
    write /dev/voxpopuli/touch_min_freq_big         1036
    write /dev/voxpopuli/touch_min_freq_little      1036
    chmod 0644 /dev/voxpopuli/enable_interaction_boost
    chmod 0644 /dev/voxpopuli/fling_min_boost_duration
    chmod 0644 /dev/voxpopuli/fling_max_boost_duration
    chmod 0644 /dev/voxpopuli/fling_boost_topapp
    chmod 0644 /dev/voxpopuli/fling_min_freq_big
    chmod 0644 /dev/voxpopuli/fling_min_freq_little
    chmod 0644 /dev/voxpopuli/touch_boost_duration
    chmod 0644 /dev/voxpopuli/touch_boost_topapp
    chmod 0644 /dev/voxpopuli/touch_min_freq_big
    chmod 0644 /dev/voxpopuli/touch_min_freq_little
    chown system system /dev/voxpopuli/enable_interaction_boost
    chown system system /dev/voxpopuli/fling_min_boost_duration
    chown system system /dev/voxpopuli/fling_max_boost_duration
    chown system system /dev/voxpopuli/fling_boost_topapp
    chown system system /dev/voxpopuli/fling_min_freq_big
    chown system system /dev/voxpopuli/fling_min_freq_little
    chown system system /dev/voxpopuli/touch_boost_duration
    chown system system /dev/voxpopuli/touch_boost_topapp
    chown system system /dev/voxpopuli/touch_min_freq_big
    chown system system /dev/voxpopuli/touch_min_freq_little

#Default
on property:thermal.profile=0
    write /sys/class/thermal/thermal_message/sconfig  "0"

#Game
on property:thermal.profile=1
    write /sys/class/thermal/thermal_message/sconfig  "9"

#Performance
on property:thermal.profile=2
    write /sys/class/thermal/thermal_message/sconfig  "10"

#Video
on property:thermal.profile=3
    write /sys/class/thermal/thermal_message/sconfig  "11"

#Video
on property:thermal.profile=4
    write /sys/class/thermal/thermal_message/sconfig  "12"

#Video
on property:thermal.profile=5
    write /sys/class/thermal/thermal_message/sconfig  "13"
