import /system/etc/init/init.performance.rc
import /system/etc/init/init.thermal.rc
import /system/etc/init/init.profiles.rc

on init
    # Create Power HAL tunables
    mkdir /dev/voxpopuli 0555 system system

on post-fs
    mount none /sbin/chargeonlymode /sbin/charger bind
    mount none /system/lib64/soundfx/libvolumelistener.so /vendor/lib64/soundfx/libvolumelistener.so bind
    mount none /system/lib/soundfx/libvolumelistener.so /vendor/lib/soundfx/libvolumelistener.so bind

    # DT2W
    chown system system /proc/touchpanel/wake_gesture
    chmod 0660 /proc/touchpanel/wake_gesture

on boot
    # Set Power HAL tunables
    write /dev/voxpopuli/fling_min_boost_duration   200
    write /dev/voxpopuli/fling_max_boost_duration   2500
    write /dev/voxpopuli/fling_boost_topapp         10
    write /dev/voxpopuli/fling_min_freq_big         1113
    write /dev/voxpopuli/fling_min_freq_little      1113
    write /dev/voxpopuli/touch_boost_duration       200
    write /dev/voxpopuli/touch_boost_topapp         5
    write /dev/voxpopuli/touch_min_freq_big         1036
    write /dev/voxpopuli/touch_min_freq_little      1036
    chmod 0644 /dev/voxpopuli/enable_interaction_boost
    chmod 0644 /dev/voxpopuli/fling_min_boost_duration
    chmod 0644 /dev/voxpopuli/fling_max_boost_duration
    chmod 0644 /dev/voxpopuli/fling_boost_topapp
    chmod 0644 /dev/voxpopuli/fling_min_freq_big
    chmod 0644 /dev/voxpopuli/fling_min_freq_little
    chmod 0644 /dev/voxpopuli/touch_boost_duration
    chmod 0644 /dev/voxpopuli/touch_boost_topapp
    chmod 0644 /dev/voxpopuli/touch_min_freq_big
    chmod 0644 /dev/voxpopuli/touch_min_freq_little
    chown system system /dev/voxpopuli/enable_interaction_boost
    chown system system /dev/voxpopuli/fling_min_boost_duration
    chown system system /dev/voxpopuli/fling_max_boost_duration
    chown system system /dev/voxpopuli/fling_boost_topapp
    chown system system /dev/voxpopuli/fling_min_freq_big
    chown system system /dev/voxpopuli/fling_min_freq_little
    chown system system /dev/voxpopuli/touch_boost_duration
    chown system system /dev/voxpopuli/touch_boost_topapp
    chown system system /dev/voxpopuli/touch_min_freq_big
    chown system system /dev/voxpopuli/touch_min_freq_little
	
on property:interaction.boost=0
    write /dev/voxpopuli/enable_interaction_boost "0"

on property:interaction.boost=1
    write /dev/voxpopuli/enable_interaction_boost "1"	
